<app-header></app-header>

<section class="coursel">
    
    <div  class="h1">
      
      <p>Explore More Countries Like these By Just Login</p>
    </div>

    <div class="container">
      <!-- <p>The .card-columns class creates a masonry-like grid of cards. The layout will automatically adjust as you insert more cards.</p> -->
      <!-- <p><strong>Note:</strong> The cards are displayed vertically on small screens (less than 576px):</p> -->
      <div class="card-columns">
        
        <div class="card" style="width: 20rem;">
          
          <div class="card-body">
            <h5 style="color:gray;text-align: center;" class="card-title">India</h5>
            <img src="../../assets/India.jpg" class="card-img-top" alt="...">
            <br>
            <a href="http://localhost:4200/login"  style="margin-top: 8px; margin-left: 55px;" class="btn btn-primary">Login to Explore</a>
            
          </div>
        </div>
        <div class="card" style="width: 20rem;">
          
          <div class="card-body">
            <h5 style="color:gray;text-align: center;" class="card-title">Spain</h5>
            <img src="../../assets/spain.jpg" style="height: 210px;" class="card-img-top" alt="...">
            <br>
            <a href="http://localhost:4200/login" style="margin-top: 8px; margin-left: 55px;" class="btn btn-primary">Login to Explore</a>
            
          </div>
        </div>
        <div class="card" style="width: 20rem;">
          
          <div class="card-body">
            <h5 style="color:gray;text-align: center;" class="card-title">Greece</h5>
            <img src="../../assets/greece.jpg" style="height: 210px;" class="card-img-top" alt="...">
            <br>
            <a href="http://localhost:4200/login" style="margin-top: 8px; margin-left: 55px;" class="btn btn-primary">Login to Explore</a>
            
          </div>
        </div>
        <div class="card" style="width: 20rem;">
          
          <div class="card-body">
            <h5 style="color:gray;text-align: center;" class="card-title">Italy</h5>
            <img src="../../assets/italy.jpg" style="height: 210px;" class="card-img-top" alt="...">
            <br>
            <a href="http://localhost:4200/login" style="margin-top: 8px; margin-left: 55px;" class="btn btn-primary">Login to Explore</a>
            
          </div>
        </div>
        
        <div class="card" style="width: 20rem;">
          
          <div class="card-body">
            <h5 style="color:gray;text-align: center;" class="card-title">New Zealand</h5>
            <img src="../../assets/newZealand.jpg" style="height: 210px;" class="card-img-top" alt="...">
            <br>
            <a href="http://localhost:4200/login" style="margin-top: 8px; margin-left: 55px;" class="btn btn-primary">Login to Explore</a>
            
          </div>
        </div>
        <div class="card" style="width: 20rem;">
          
          <div class="card-body">
            <h5 style="color:gray;text-align: center;" class="card-title">Australia</h5>
            <img src="../../assets/Australia.jpg" style="height: 210px;" class="card-img-top" alt="...">
            <br>
            <a href="http://localhost:4200/login" style="margin-top: 8px; margin-left: 55px;" class="btn btn-primary">Login to Explore</a>
            
          </div>
        </div>
      </div>
    </div>

  </section>
  <app-footer></app-footer>
  <!--Curousel  End's Here-->

